@font-face {
  font-family: "MartelSans";
  @import url('https://fonts.googleapis.com/css?family=Martel+Sans:200,400,700&display=swap&subset=latin-ext');
}
// colors
.color-white {
  color: $color-white;
}
.color-black {
  &,
  &::after,
  &::before {
    color: $color-black;
  }
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.6rem;
  letter-spacing: 3px;
}
h3 {
  font-size: 1.4rem;
}
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
  &:hover {
    opacity: .7;
  }
}

.heading-primary {
  color: $color-white;
  text-align: center;
}
.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: .4rem;
  border: .1rem solid rgba($color-white, 0.664);
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;

  @include respond(tab-land) {
    width: 60vw;
  }
  @include respond(tab-port) {
    font-size: 3rem;
    padding: 1rem 2rem;
    width: 80vw;
  }
  @include respond(phone) {
    font-size: 2rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
  }
  @include respond(small-phone) {
    font-size: 1.8rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    width: 90vw;
  }
}
.heading-primary--sub { 
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: .2rem;
  
  @include respond(tab-port) {
    font-size: 1.5rem;
  }
  @include respond(phone) {
    font-size: 1rem;
  }

}
.category__heading {
    display: none;

    @include respond(tab-land) {
      position: absolute;
      top: 7vh;
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin-left: 2rem;
    }
    @include respond(small-phone) {
      font-size: 1.3rem;
    }
}
.btn {
  padding: .2rem 1rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: $shadow-small;

  &__fill {
    background: $color-primary;
    color: $color-white !important; 
  }
  &__no-fill {
    background-color: transparent;
    border: 1px solid $color-primary;
  }
}