$color-primary: #7030A0;
$color-primary-2: rgb(144, 57, 211);
$color-secondary: #0070C0;
$color-secondary-2: rgb(0, 67, 116);
$color-white: rgb(252, 252, 252);
$color-white-2: rgb(226, 226, 226);
$color-white-3: rgb(192, 192, 192);
$color-black: rgb(3, 3, 3);
$color-black-2: rgb(88, 88, 88);
$shadow-small: 0 .2rem .6rem 0 $color-black;
$shadow-large: 0 .5rem 1rem 0 $color-black;