.home {
     background: url(./../../images/home.png);
}
 
.header__text-box {
     position: absolute;
     left: 50%;
     bottom: 0%;

     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: row;

     @include respond(tab-port) {
          transform: translate(-50%, -20%);
          
     }
}