.yt-video {
     background: url(./../../images/music.png);
 }
 .slider {
     border: 1px solid rgba(240, 248, 255, 0.815);
     width: 70vw;
     height: 60vh;
     // overflow: hidden;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);


     @include respond(tab-port) {
          padding: 0;
          width: 80vw;
          height: 40vh;
     }

     @include respond(phone) {
          padding: 0;
          width: 95vw;
          height: 40vh;
     }
 }
 .slider__yt-frame {
      margin-bottom: 2rem;
      padding-right: 1rem;
      padding-left: 1rem;
      width: calc(100% - 130px);
     // text-align: center;
}

// react-carousel

#slider > div > div > div {
     margin-bottom: 4rem;
     transform: translateX(-50%);
     overflow: unset;
}
#slider > div > div > button.control-arrow.control-prev,
#slider > div > div > button.control-arrow.control-next{
     margin: auto 0;
     height: 50%;

     @include respond(phone) {
          height: 40%;
     }
}    
#slider > div > div > button.control-arrow.control-next{
     padding-left: 4rem;
}
#slider > div > div > button.control-arrow::before {
     border: none;
}
#slider > div > div > button.control-arrow.control-next::before {
     content: ">";
     top: 50%;
     color: $color-white;
     display: inline-block;
     font-size: 4rem;
}
#slider > div > div > button.control-arrow.control-prev::before {
     content: "<";
     color: $color-white;
     display: inline-block;
     font-size: 4rem;
}

/* subscribe */
.subscribe {
     position: absolute;
     bottom: 0;
     display: inline;
     width: 100%;
     left: 50%;
     transform: translate(-50%, 0%);
}
.subscribe-heading {
     text-align: center;
     font-weight: 100;
     font-size: 2.5rem;
     display: inline-block;
     padding: 4rem 0;
     color: rgba(240, 248, 255, 0.755);
     z-index: 5;
     margin-right: 6rem;
}

#widget6 {
     transition: all 3s;
}