.band-wrapper {
		position: absolute;
		display: flex;
     flex-flow: row wrap;
	  align-items: center;
	  top: 50%;
	  left: 50%;
	  height: 70%;
	  transform: translate(-50%, -50%);
	  background-color: rgba($color-white, 0.4);
	  padding: 2rem;
	  overflow-y: auto;
 
	  @include respond(tab-land) {
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
	  }

     @include respond(tab-land) {
          background-color: rgba($color-white, 0.4) !important;
     }
}
.member {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: calc(50% - 8px);
     margin-bottom: 4rem;

     @include respond(tab-land) {
          max-width: 60%;
     }
     @include respond(phone) {
          width: 70%;
     }

     &__image-box {
          max-width: 10rem;
          max-height: 10rem;
          border-radius: 5px;
          overflow: hidden;
          border: none;
          margin-bottom: 2rem;
          box-shadow: $shadow-small;
          display: flex;
          flex-direction: column;
          justify-content: center;
     }
     &__img {
          width: 100%;
          height: 100%;
     }
     &__name {
          margin-bottom: 1rem;
          text-align: center;
          letter-spacing: 1px;
     }
     &__description {
          text-align: center;
          line-height: 1.6rem;
     }
}